GROQ_API_KEY="api_key_here"
GROQ_FALLBACK_MODELS=openai/gpt-oss-120b,qwen3-32b,openai/gpt-oss-20b
#--------------
GOOGLE_API_KEY="api_key_here"
GEMINI_FALLBACK_MODEL=gemini-2.0-flash
#--------------
Model_TEMPERATURE=0.4
Model_MAX_TOKENS=3000
Model_TOP_P=1.0
Model_FREQUENCY_PENALTY=0.0
Model_PRESENCE_PENALTY=0.0

#---------------
MAX_MESSAGES = 5   # الحد اللي بعده نلخّص
KEEP_RECENT = 3      # عدد الرسائل الحديثة اللي هتفضل كاملة

#----------------
local_user = "local"