groq>=0.30.0,<1.0.0
langchain-core==1.6.2
langchain-google-genai==4.4.0
langchain-groq==1.1.3
langchain-tavily==0.2.14
langgraph==1.2.11
pydantic==2.13.5
pydantic-settings==2.15.0
#================STT================
sounddevice==0.5.5
numpy==2.4.6
soundfile==0.13.1